body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
    border: dotted 3px green;
}

html, body {
    height: 100%;
}

.result-block {
    margin-bottom: 20px;
    border: 1px solid #0480be;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px 0;
}

.svg-container {
    padding-top: 25%;
}

.svg {
    overflow: visible !important;
}

.chart {
    height: 400px;
    margin-top: -100px;
}
